* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

a:not(.header):hover {
    text-decoration: underline;
}

h3 {
    font-weight: normal;
}
